* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to bottom right, #06bcea, #31e375);
  text-align: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  margin: 0;
  background-repeat: no-repeat;
}
header {
  box-shadow: 0 0 30px gray;
}
h1 {
  padding: 1.5rem;
  letter-spacing: 0.25em;
  color: white;
  text-shadow: 7px 7px 10px rgb(90, 88, 88);
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.5em;
}

h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}

h4 {
  font-family: "Cutive Mono", monospace;
  font-weight: lighter;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.gradientDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  background-color: white;
  border: 1px, white, solid;
  border-radius: 30px;
  min-width: 18em;
  max-width: 18em;
  min-height: 17em;
  box-shadow: 0 0 20px grey;
}

.innerContent h3 {
  margin: 0.5em;
}

input {
  margin: 0.5em;
  border: none;
}

h4 {
  margin: 0.5em;
}

button {
  padding: 0.8em;
  background-color: rgb(165, 153, 153);
  border: 1px grey solid;
  border-radius: 30px;
  color: white;
}
button:hover {
  cursor: pointer;
  background-color: grey;
}

@media only screen and (max-width: 350px) {
  h1 {
    font-size: small;
  }
  .gradientDiv {
    min-width: 10em;
    max-width: 10em;
    min-height: 10em;
  }
}
