* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(#7628eb, 60%, #ba94cc);
  text-align: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  max-width: 40%;
  letter-spacing: 0.25em;
  color: white;
  text-shadow: 7px 7px 10px rgb(90, 88, 88);
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.5em;
  box-shadow: 0 0 60px black;
}

h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

h4 {
  font-family: "Cutive Mono", monospace;
  font-weight: lighter;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 3rem;
}

.gradientDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5em;
  border: 1px, white, solid;
  border-radius: 30px;
  min-width: 17em;
  max-width: 17em;
  min-height: 16em;
  box-shadow: 0 0 20px black;
}

.innerContent h3 {
  margin: 0.5em;
}

input {
  margin: 0.5em;
  border: none;
}

h4 {
  margin: 0.5em;
}

button {
  padding: 0.8em;
  background-color: #7628eb;
  border: 1px #7628eb solid;
  border-radius: 30px;
  color: white;
  font-weight: 500;
}
button:hover {
  cursor: pointer;
  background-color: #ba94cc;
  border: 1px #ba94cc solid;
  font-weight: 500;
}

footer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 7rem;
}

p {
  max-height: 1rem;
}

footer p,
a {
  color: #5c09d8;
  font-family: "Cutive Mono", monospace;
}

@media only screen and (max-width: 350px) {
  h1 {
    font-size: small;
  }
  .gradientDiv {
    min-width: 10em;
    max-width: 10em;
    min-height: 10em;
  }
}
